{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans "Flavorpanel" %}{% endblock %}

{% block page_header %}
  {% include "horizon/common/_page_header.html" with title=_("Flavorpanel") %}
{% endblock page_header %}

{% block main %}
<div class="row">

    <div id="line_chart"
        data-chart-type="line_chart"
        data-data= "{{ dataLineChar }}"
        data-form-selector='#linechart_general_form'>
    </div>

   <div class="col-sm-12">
   {{ table.render }}
   </div>
</div>
{% endblock %}


